<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/public/CSS/styles.css">
    <link rel="stylesheet" type="text/css" href="semantic/dist/semantic.min.css">

    <script
    src="https://code.jquery.com/jquery-3.1.1.min.js"
    integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8="
    crossorigin="anonymous"></script>
    <script src="semantic/dist/semantic.min.js"></script>

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Baloo+Bhaijaan+2&family=Comfortaa&family=DM+Sans:ital@1&family=Karla:ital,wght@1,300&family=Lato&family=Rubik&family=Ubuntu&display=swap" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Baloo+Bhaijaan+2&family=Comfortaa&family=Comic+Neue&family=DM+Sans:ital@1&family=Karla:ital,wght@1,300&family=Lato&family=Roboto&family=Rubik&family=Ubuntu&display=swap" rel="stylesheet"> <title>Document</title>
</head>
<body>
    <nav class="navbar1">
        <a class="nav-link1" href="">Home</a>
        <a class="nav-link2" href="">Statistics</a>
        <a class="nav-link3" href="">Weather Forecast</a>
        <a class="nav-link4" href="">Prices</a>
    </nav>
    <h1 class="practices">PRACTICES</h1>
    <div class="practices-body">
        <p style="color: #94ce51;">In agriculture, there are certain parameters to be considered 
            such as the type of crop, properties of soil, climate etc. 
            Depending upon these parameters, farmers decide which crop 
            is to be cultivated at what time of the year and place. Moreover, 
            to yield a high-quality product, suitable soil, climate and season 
            are not sufficient. It requires a set of procedures which needed to be followed.</p>
        
            <div>
                <img src="/public/images/sow.jpg" alt="">
                <p class=""></p>
            </div>
            <div>
                <img src="/public/images/sow.jpg" alt="">
                <p class=""></p>
            </div>
            <div>
                <img src="/public/images/Manuring.jpg" alt="">
                <p class=""></p>
            </div>
            <div>
                <img src="/public/images/irrig.jpg" alt="">
                <p class=""></p>
            </div>
            <div>
                <img src="/public/images/Weeding.jpg" alt="">
                <p class=""></p>
            </div>
            <div>
                <img src="/public/images/edoardo-busti-5ofKC-FQK3Q-unsplash.jpg" alt="">
                <p class=""></p>
            </div>
            <div>
                <img src="/public/images/Storage-300x200.jpg" alt="">
                <p class=""></p>
            </div>
    </div>
</body>
</html>    